html, body {
      height: 100%;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('glyphicons.woff2') format('woff2');
}
body {
  background-color: #0b2228;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.avatar-circle {
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.initials {
  position: relative;
  top: 20px; /* 25% of parent */
  font-size: 40px; /* 50% of parent */
  line-height: 40px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.navbar-brand{
    padding: 0px;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #0b2127;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}
#blocklyFrame {
  border-style: solid;
  border-color: #ddd;
  border-width: 0 1px 1px 0;
}
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1500ms infinite linear;
    animation: spin 1500ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #286090;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.grid-item {
  float: left;
  width: 280px ;
  height: 280px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); 
}

.grid-sensor-item {
  float: left;
  width: 140px ;
  height: 140px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); 
  margin: 5px;
}

.grid-scrollbar-item {
  float: left;
  width: 95% ;
  height: 180px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); 
  margin: 5px;
}
.panel-theme,
.panel-primary,
.panel-success,
.panel-info,
.panel-warning,
.panel-danger {
  background-color: #FFFFFF;
  border: none;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}
.panel-theme > .panel-heading {
  background-color: #FFFFFF;
  border: none;
}
.panel-theme > .panel-heading .badge {
  color: #FFFFFF;
  background-color: #00000 0;
}
.panel-theme > .panel-heading .panel-title {
  font-weight: bold;
}
.panel-theme > .panel-footer {
  background-color: #FFFFFF;
  border: none;
  border-top: 1px solid #E0E0E0;
}
.panel-theme > .panel-footer + .panel-collapse > .panel-body {
  border-bottom: none;
}